$color-primary: #52a7df;
$color-primary-hover: #df6f92;
$color-bg-primary: #df5286;
$color-bg-primary-text: #FFF;
$color-secondary: #707070;
$color-disabled: #525252;

$color-font-default: #525252;


$color-toast-background: #ae3763;

@import 'theme';
