#toplevel_page_pluginers_settings .wp-menu-image {
background: url(../images/menuicon-pluginers.png) 3px 110% no-repeat;
}
#toplevel_page_pluginers_settings:hover .wp-menu-image {
background-position: 3px 0px;
}
#smio-submit{
margin-bottom:0!important;
}